<table class="table table-bordered table-bao-cao">
  <thead>
  <tr>
    <th scope="col" class="text-align-center">{{ 'Tổng số câu hỏi'|t }}</th>
    <th scope="col" class="text-align-center">{{ 'Đã trả lời'|t }}</th>
    <th scope="col" class="text-align-center">{{ 'Chưa trả lời'|t }}</th>
    <th scope="col" class="text-align-center">{{ 'Chậm trả lời'|t }}</th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>
