<table class="table table-bordered table-ds-cau-hoi table-ds-cau-hoi-cd">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Câu hỏi</th>
    <th scope="col">Ngày tạo</th>
    <th scope="col">Ngày trả lời</th>
    <th scope="col">Trạng thái</th>
    <th scope="col" width="60px"></th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>
