<div class="alert alert-success d-none" role="alert">
  {{ 'Trả lời câu hỏi thành công'|t }}
</div>
<div class="alert alert-danger d-none" role="alert">
  {{ 'Trả lời câu hỏi thất bại'|t }}
</div>
{{ form }}
