<article{{ attributes.addClass('basic-content lien-ket__qlvb') }}>
  <div class="content-inner">
    <div class="basic-content__date">{{ date }}</div>
    <div{{ content_attributes }}>
      {{ content }}
    </div>
  </div>
</article>
