$c-text-common: #333333;
$c-gray-dark: #343434;
$c-gray: #828081;
$c-gray-border: #dededf;
$c-gray-medium: #EEEDF2;
$c-gray-light: #f8f8f8;
$c-white: #ffffff;
$c-black: #000000;
$c-primary: #316db5;
$c-light-blue: #1d97d8;
$c-medium-blue: #0563e0;
$c-dark-blue: #0556c1;
$c-footer-bg: #205aa7;
$c-box-blue: #1052ab;
$c-menu: #3575BB;
$m-blue: #0057B5;
$c-red: #de0403;
$c-red-border: #e60201;
$c-body: #89CAF9;
$c-blue-1: #95BCE0;
$c-dark-orange: #dc8100;

//Color for dashboard
$c-dashboard-bg: #ecf0f5;
$c-header-db: #3c8dbc;
$c-header-dark: #367fa9;
$c-sidebar-db: #222D30;
$c-menu-db: #b8c7ce;
$c-menu-hover-db: #1e282c;
$c-menu-border-left: #3c8dbc;
$c-footer-text-db: #444444;
$c-footer-border-db: #d2d6de;
