{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

<div class="row">
  {% for row in rows %}
    <div class="col-12 col-md-4 views-row">
      <div class="video__highlight video__item">
        <a class="video__item__title text-align-left" href="{{ path('entity.node.canonical', {'node': row.content['#row']._entity.nid.value}) }}">
          <img src="{{ row.content['#row']._entity.field_video_anh_dai_dien.entity.uri.value | image_style('280x180') }}" alt="">
          <span class="video__title">{{ row.content['#row']._entity.title.value }}</span>
        </a>
      </div>
    </div>
  {% endfor %}
</div>

