<footer class="main-footer">
  <div class="d-none d-md-block">
    <div class="pull-left copyright">
      ©   Cổng thông tin điện tử tỉnh Phú Thọ - Cơ quan chủ quản: UBND tỉnh Phú Thọ
    </div>
  </div>
</footer>
